@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(86, 107, 116);
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 400px;
  height: 50px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    rgb(255, 254, 254) 0%,
    rgb(252, 238, 217) 48%,
    rgb(248, 231, 204) 100%
  );

  color: #333;
}

.coin-input::placeholder {
  color: #333;
}